<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <img alt="" src="/img/logo_small.webp" width="18" height="25" style="vertical-align: middle;"/> sustaphones
            </h1>
            <h2 class="subtitle">
                Sustainable software & hardware
            </h2>
            <p class="container">
                For a modern smartphone to be sustainable, at the very minimum it has to get security updates and it needs to be possible to change the inevitably failing battery. This site is designed to help with finding those phones: Phones that are supported by an alternative Android distribution are listed together with guides for changing the battery. 
            </p>
        </div>
    </div>
</section>

<aside class="section">
    <div class="container">
        <div class="field">
            <label for="search-field" class="label">Search</label>
            <p class="control has-icons-left">
                <input id="search-field" class="search input" placeholder="Device Name" />
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
        <div class="field is-horizontal">
        <% @filters.each do |target, values| %>
            <div class="field mr-3">
                <label for="select<%= target %>" class="label"> <% if target == :vendor %>Vendor<% end %>
                    <% if target == :release %>Release Year<% end %>
                    <% if target == :lineage_version %>LineageOS<% end %>
                    <% if target == :mokee_version %>MoKee ROM<% end %>
                    <% if target == :e_version %>/e/<% end %>
                    <% if target == :pixelexperience_version %>PixelExperience<% end %>
                    <% if target == :havoc_version %>Havoc-OS<% end %>
                    <% if target == :battery_repairscore %>Battery Guide Difficulty<% end %>
                    <% if target == :headphone_jack %>Headphone Jack<% end %>
                </label>
                <div class="select">
                    <select id="select<%= target %>" data-target="<%= target %>">
                       <option>All</option>
                        <% values.each do |value| %>
                            <option><%= value %></option>
                        <% end %>
                    </select>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</aside>
<main id="androids">
    <div class="list section columns is-multiline is-variable">
    <% @devices.each do |id, values| %>
        <div class="column is-one-third-fullhd is-half-tablet">
            <div class="box">
                <section class="deviceinfo columns is-variable is-1">
                    <div class="column is-one-third">
                        <figure>
                            <% if values['images'].respond_to?('has_key?') %>
                                <img loading="lazy" width="140" height="105" alt="" src="<%= values['images']['140x105'] %>" />
                            <% else %>
                                <img loading="lazy" width="140" height="105" alt="" src="/img/placeholder2.webp" />
                            <% end %>
                        </figure>
                    </div>
                    <div class="column is-two-third is-z-1">
                        <h2 class="subtitle"><span class="vendor"><%= values['vendor'] %></span>,
                        <span class="release"><% if values['release'].respond_to?('any?') %>
                            <%= values['release'].first.values.first.to_s.gsub(/-.+/, '') %></span>,
                        <% else %>
                            <%= values['release'].to_s.gsub(/-.+/, '') %></span>,
                        <% end %>
                        <%= id %>
                        </h2>
                        <h2 class="title devicename"><%= values['name'] %></h2>
                    <div>
                </section>

                <div class="sustainable columns is-variable is-1">
                    <section class="column is-one-third">
                        <h3 class="title is-4">Soft&shy;ware</h3>
                        <dl>
                        <dt><a <% if values['lineage_version'] %>href="https://wiki.lineageos.org/devices/<%= id %>"<% else %>href="https://lineageos.org"<% end %>>Line&shy;age&shy;OS</a></dt>
                        <dd><% if values['lineage_version'].to_f >= 18.1  %>
                                <span class="lineage_version success">
                            <% else %>
                                <span class="lineage_version danger">
                            <% end %>
                            <%= values['lineage_version'].nil? ? '-' : values['lineage_version'] %>
                            </span>
                        </dd>
                        <dt><a href="https://www.mokeedev.com/en/">MoKee ROM</a></dt>
                        <dd><% if values['mokee_version'] == 10.0 %>
                                <span class="mokee_version success">
                            <% else %>
                                <span class="mokee_version danger">
                            <% end %>
                            <%= values['mokee_version'].nil? ? '-' : values['mokee_version'] %>
                            </span>
                        </dd>
                        <dt><a <% if values['e_version'] %>href="https://doc.e.foundation/devices/<%= id %>/"<% else %> href="https://e.foundation/"<% end %>>/e/</a></dt>
                        <dd><% if values['e_version'] == 'r' %>
                                <span class="e_version success">
                            <% else %>
                                <span class="e_version danger">
                            <% end %>
                            <%= values['e_version'].nil? ? '-' : values['e_version'] %>
                            </span>
                        </dd>
                        <dt><a <% if values['pixelexperience_version'] %>href="https://download.pixelexperience.org/<%= id %>"<% else %>href="https://download.pixelexperience.org/"<% end %>>Pixel&shy;Ex&shy;per&shy;ience</a></dt>
                        <dd><% if values['pixelexperience_version'] == 12.0 %>
                                <span class="pixelexperience_version success">
                            <% else %>
                                <span class="pixelexperience_version danger">
                            <% end %>
                            <%= values['pixelexperience_version'].nil? ? '-' : values['pixelexperience_version'] %>
                            </span>
                        </dd>
                        <dt><a <% if values['havoc_version'] %>href="https://havoc-os.com/device#<%= id %>"<% else %>href="https://havoc-os.com/"<% end %>>Ha&shy;voc&shy;-OS</a></dt>
                        <dd><% if values['havoc_version'] == 11.0 %>
                                <span class="havoc_version success">
                            <% else %>
                                <span class="havoc_version danger">
                            <% end %>
                            <%= values['havoc_version'].nil? ? '-' : values['havoc_version'] %>
                            </span>
                        </dd>
                        </dl>
                    </section>
                    
                    <section class="column is-two-third">
                        <h3 class="title is-4">Hardware</h3>
                        <dl>
                        <dt>Battery swappable</dt>
                        <dd>
                        <% if values['battery'].respond_to?('has_key?') && values['battery']['removable'] == true %>
                            <span class="icon success">                                
                                <i aria-hidden="true" class="fas fa-check-square" title="Yes"></i>
                                <span class="is-sr-only">Yes</span>
                            </span>
                        <% else %>
                            <span class="icon danger">                                
                                <i aria-hidden="true" class="fas fa-times" title="No"></i>
                                <span class="is-sr-only">No</span>
                            </span>
                        <% end %>
                        </dd>
                        <dt>iFixit battery guide</dt>
                        <dd>
                        <% if values['battery_repairscore'] == 'Very easy' || values['battery_repairscore'].to_s == 'Easy' %>
                            <span class="icon success">
                                <i aria-hidden="true" class="fas fa-check-square"></i>
                            </span>
                        <% end %>

                        <% if values['battery_repairscore'] == 'Moderate' %>
                            <span class="icon warning">
                                <i aria-hidden="true" class="fas fa-exclamation-triangle"></i>
                            </span>
                        <% end %>

                        <% if ! values.has_key?('battery_guide') || values['battery_repairscore'] == 'Difficult' || values['battery_repairscore'] == 'Very difficult'  %>
                            <span class="icon danger">
                                <i aria-hidden="true" class="fas fa-times"></i>
                            </span>
                        <% end %>
                        <% if values['battery_guide'] %>- <a class="battery_repairscore" href="<%= values['battery_guide'] %>"><%= values['battery_repairscore'] %></a><% end %>
                        </dd>
                        <dt>Head&shy;phone Jack</dt>
                        <dd>
                        <% if values['headphone_jack'].nil? || values['headphone_jack'].empty? %>
                            <span class="icon warning">                                
                                <i aria-hidden="true" class="fas fa-question" title="Unknown"></i>
                                <span class="is-sr-only headphone_jack">Unknown</span>
                            </span>
                        <% else %>
                            <% if values['headphone_jack'] == 'Yes' %>
                                <span class="icon success">                                
                                    <i aria-hidden="true" class="fas fa-check-square" title="Yes"></i>
                                    <span class="is-sr-only headphone_jack">Yes</span>
                                </span>
                            <% else %>
                                <span class="icon danger">                                
                                    <i aria-hidden="true" class="fas fa-times" title="No"></i>
                                    <span class="is-sr-only headphone_jack">No</span>
                                </span>
                            <% end %>
                        <% end %>
                        </dd>
                        </dl>
                    </section>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</main>