.success {
    color: #0d8938;
}

.warning {
    color: #886f0c;
}

.danger {
    color: #da3152;
}

.is-z-1 {
    z-index: 1;
}

dl {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.3em;
}

dt {
    hyphens: auto;
}

dt:after {
    content: ':';
}

dd {
    text-align: left;
    hyphens: auto;
}